{% load custom_tags %}
	<div class="comment text" id="{{ comment.id }}">
	    <a href="/members/profile/{{ comment.user.id }}/">
	      <span class="{{ comment.user.get_profile.user_class }}">{{ comment.user.get_full_name }}</span></a>
	    <span class="time_stamp">{{ comment.datetime|timesince }} ago</span>
	    {% ifequal user comment.user %}
	    <span icon="delete_comment" title="Delete your comment" type="sub" class="comment_delete" id="{{ comment.id }}"><a href="#">Delete</a></span>
	    {% endifequal %}
	    <br/>
	    {% autoescape off %}
	    {{ comment.message|escape|urlize|tags }}
	    {% endautoescape %}
	  </div> <!-- comment -->



