<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
    <title>Apply for PullaClub.com membership</title>
    <link rel="stylesheet" href="/css/pulla.css" type="text/css" />
    <link rel="SHORTCUT ICON" href="/favicon.gif"/>
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
      $(function() { $("input:first").focus(); });
    </script>
  </head>
  <body>
    <div id="topnav">
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/members">Members</a></li>
	<li><a href="/about.html">About us</a></li>
      </ul>
    </div>
    <center>
      <span class="text">Please fill in the application form carefully.</span>
    </center>
    <p></p>
    <div id="text">
      <div style="width:35em; margin-left:auto; margin-right:auto;margin-bottom:100px;">
	<form action="./" method="post">
	  <fieldset class="input_form">
	    <legend>PullaClub.com applicant form</legend>
	    <p> {{ form.name.label_tag }} {{ form.name }} {{ form.name.errors }}</p>
	    <p>{{ form.email.label_tag }}{{ form.email }} {{ form.email.errors }}</p>
	    <p>{{ form.referral.label_tag }}{{ form.referral }} {{ form.referral.errors }}</p>
	    <span class="text">Please explain your reason(s) for applying to this exclusive club. Also see <a style="text-decoration:underline;" href="/about.html">About us</a> for membership fees.</span>
	    <p>{{ form.message}} {{ form.message.errors }}</p>
	    <input type="submit" value="Submit" /><input type="reset">
	  </fieldset>
	</form>
      </div>
    </div>
  </body>
</html>
