<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <title>Apply for PullaClub.com membership</title>
    <link rel="stylesheet" href="http://www.pullaclub.com/css/pulla.css" type="text/css" />
    <link rel="SHORTCUT ICON" href="favicon.gif"/>
    <style type="text/css">
      .errorlist { color:red;
      list-style: none;
      border: 2px solid black;
      padding:5px;
      background-color: yellow;
      width:180px;
      margin-left:5em;
      }
    </style>
  </head>
  <body>
    <div id="topnav">
      <ul>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/members">Members</a></li>
	<li><a href="/about.html">About us</a></li>
      </ul>
    </div>
    <div id="text" style="padding: 5px">
      Please fill in the application form carefully.
    </div>
    <div id="text" style="padding:5px;">
      <form action="./" method="post">
	<fieldset>
	  <legend>PullaClub.com applicant form</legend>
	  <p> {{ form.name.label_tag }} {{ form.name }} {{ form.name.errors }}</p>
	  <p>{{ form.email.label_tag }}{{ form.email }} {{ form.email.errors }}</p>
	  <p>{{ form.referral.label_tag }}{{ form.referral }} {{ form.referral.errors }}</p>
	Please explain your reason(s) for applying to this exclusive club.
	  <p>{{ form.message}} {{ form.message.errors }}</p>
	  <p class="submit"><input type="submit" value="Submit" /><input type="reset"></p>
	</fieldset>
      </form>
    </div>
  </body>
</html>
