<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    {% load custom_tags %}
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
    <title>Comment</title>
    <script type="text/javascript" src="/js/jquery-1.4.1.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
	  $("textarea").live('keyup',function(event) {
	      var ml=parseInt($(this).attr("maxlength"));
	      if( $(this).val().length > ml) {
		  $(this).val($(this).val().substring(0,ml));
		  event.preventDefault();
		  $(this).css("background","yellow");
		  setTimeout(function() {$("textarea").css("background","white"); },200);
		  return false;
	      } 
	      return true;
	  });
	  
	  $("input[name='image0']").hide();

	  $("#comment_image").click(function() {
	      $("input[name='image0']").toggle();
	      return false;
	  });


	  $(".comment_submit").live('click',function(event){
	      $("#iframe_busy").show()
	      return true;	      
	  });
	  $("#iframe_busy").hide()
      });
    </script>
    <style type="text/css">
      #comment_image {
	  border:none;
	  outline: none;
      }
      #comment_image:hover {
	  border:1px groove grey;
      }
      #comment_image:active {
	  background-position: bottom right;
      }

      textarea {
	  width: 400px;
	  height: 56px
      }
      [icon ^="image"] {
	  /* padding-right: 20px; */
	  background: transparent url('/gfx/famfamfam/image_new.gif') no-repeat center right;
      }
      #iframe_busy {	 
	  display: none;
	  margin: 0px;
	  padding: 0px;	
	  left: 410px;
	  top: 10px;
	  width: auto;
	  position: fixed;
      };
    </style>
  </head>
  <body>
    <div id="iframe_busy"><p><img src="/gfx/busy.gif"></p></div>
    <form enctype="multipart/form-data" method="post" action="/members/comment/iframe/0/">
      <fieldset style="border:none;">
	<textarea id="commenttext0" maxlength="500" name="message"></textarea><br/>
	<input type="hidden" value="/members/comment/new/0/"/>      
	<input type="submit" value="Submit" class="comment_submit"/>
	<input icon="image" title="Upload image with comment" type="button" value="" id="comment_image"/>
	<input type="file" name="image0"/>
      </fieldset>
    </form>
{% if rootcomment %}
    <div id="newcomment" style="display:none">

      <p></p>
      <div class="update">
	<div class="profile_avatar">
	  <img src="{{ rootcomment.user.get_profile.user_image|downscale:"60" }}"/>
	  <br/>
	  <span class="text">{{ rootcomment.user.get_profile.description }}</span>
	</div> <!-- avatar -->
	<div class="update_text">
	  <div class="text">	  
	    <a href="/members/profile/{{ rootcomment.user.username }}/"><span class="{{ rootcomment.user.get_profile.user_class }}">{{ rootcomment.user.get_full_name }}</span></a>
	    <span class="time_stamp">{{ rootcomment.datetime|timesince }} ago</span>
	    <span icon="delete_comment" title="Delete your comment" type="root" class="comment_delete" id="{{ rootcomment.id }}"></span>
	    <br/>
	    {% autoescape off %}
	    {{ rootcomment.message|escape|urlize|tags }}
	    {% endautoescape %}
	    <p></p>
	    <span icon="comment" title="Write new comment" class="comment_new" id="{{ rootcomment.id }}"></span>
	  </div>
	</div> <!-- update_text -->

	{% if rootcomment.image0 %}
	<div class="text" style="text-align:center;clear:both;">
	  <img src="{{ rootcomment.image0|downscale:"300h" }}"/><br/>
	  <a href="#" onclick="window.open('{{ rootcomment.image0.url }}','{{ rootcomment.image0.filename }}','width={{ rootcomment.image0.width }},height={{ rootcomment.image0.height }},status=0')">Original size</a>
	</div>
	{% endif %}

	<div class="insertion" id="{{ rootcomment.id }}"></div>
	<div class="comment_panel" id="slidepanel{{ rootcomment.id }}">
	  <form>
	    <fieldset style="border:none;">
	      <textarea maxlength="500" id="commenttext{{ rootcomment.id }}" name="message"></textarea><br/>
	      <input type="hidden" value="/members/comment/new/{{ rootcomment.id }}/"/>
	      <input type="submit" value="Submit" class="comment_submit"/>
	    </fieldset>
	  </form>
	</div> <!-- comment_panel -->
      </div> <!-- update -->
    </div>
    {% endif %}
  </body>
</html>
