<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <title>Comment</title>
    <!--<link rel="stylesheet" href="http://www.pullaclub.com/css/pulla.css" type="text/css"/>-->
    <!-- <link rel="stylesheet" href="css/pulla.css" type="text/css"/> -->
    <script type="text/javascript" src="http://pullaclub.com/js/jquery-1.4.1.js"></script>
    <script type="text/javascript">
 $(document).ready(function() {
 
   $("textarea").live('keyup',function(event) {
      var ml=parseInt($(this).attr("maxlength"));
      if( $(this).val().length > ml) {
         $(this).val($(this).val().substring(0,ml));
         event.preventDefault();
         $(this).css("background","yellow");
         setTimeout(function() {$("textarea").css("background","white"); },200);
         return false;
      } 
      return true;
    });
 
   $("input[name='image0']").hide();

   $("#comment_image").click(function() {
     $("input[name='image0']").show();
     return false;
   });


   $(".comment_submit").live('click',function(event){
      return true;
   });
 });
    </script>

    <style type="text/css">
#comment_image {
	border:none;
	outline: none;
}
#comment_image:hover {
	border:1px groove grey;
}
#comment_image:active {
	background-position: bottom right;
}

textarea {
	width: 400px;
	height: 56px
}
[icon ^="image"] {
    /* padding-right: 20px; */
    background: transparent url('/pullamedia/gfx/famfamfam/image.gif') no-repeat center right;
}
    </style>
  </head>
  <body>
    <form enctype="multipart/form-data" method="post" action="/members/comment/iframe/0/">
      <textarea id="commenttext0" maxlength="500" name="message"></textarea><br/>
      <input type="hidden" value="/members/comment/new/0/">
      
      <input type="submit" value=" Comment " class="comment_submit"/>
      <input icon="image" type="button" value="" id="comment_image"/>
      <input type="file" name="image0"/>
      <br/>	  	  
    </form>
{% if rootcomment %}
    <div id="newcomment" style="display:none">

      <p></p>
      <div class="update">
	<div class="profile_avatar">
	  <img src="{{ rootcomment.user.get_profile.user_image.url }}" width=60 height=60/>
	  <span class="text">{{ rootcomment.user.get_profile.description }}</span>
	</div> <!-- avatar -->
	<div class="update_text">
	  <div class="text">	  
	    <a href="/members/profile/view/{{ rootcomment.user.username }}"><span class="user_name">{{ rootcomment.user.get_full_name }}</span></a>
	    <span class="time_stamp">{{ rootcomment.datetime|timesince }} ago</span>
	    <br>
	    {{ rootcomment.message|urlize }} 
	    <p></p>
	    <a icon="comment" href="#" class="comment_button" id="{{ rootcomment.id }}"></a>
	  </div>
	</div> <!-- update_text -->

	{% if rootcomment.image0 %}
	<img src="{{ rootcomment.image0.url }}" height="400px"/>
	{% endif %}

	<div class="insertion" id="{{ rootcomment.id }}"></div>
	<div class="comment_panel" id="slidepanel{{ rootcomment.id }}">
	  <form>
	    <textarea maxlength="500" id="commenttext{{ rootcomment.id }}" style="width:250px;height:56px" name="message"></textarea><br/>
	    <input type="hidden" value="/members/comment/new/{{ rootcomment.id }}/">
	    <input type="submit" value=" Comment " class="comment_submit"/>
	  </form>
	</div> <!-- comment_panel -->
      </div> <!-- update -->
    </div>
{% endif %}
  </body>
</html>
