<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>PullaClub.com Finances</title>
    <link rel="SHORTCUT ICON" href="/favicon.gif"/>
    <link rel="stylesheet" href="http://www.pullaclub.com/css/pulla.css" type="text/css" />
    <script type="text/javascript" src="http://pullaclub.com/js/jquery-1.4.1.js"></script>
    <style type="text/css">
      table {
      border: 1px dotted black;
      width:50%;
      margin:15px;
      border-collapse:collapse;
      }
      table th {
      border-bottom: 2px solid black;
      }
      table tr.total {
      border-top:4px solid grey;
      }
    </style>
  </head>
  <body>
    <div id="topnav">
      <ul>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/members">Members</a></li>
	<li><a href="/about.html">About us</a></li>
	<li style="float:right;"><a href="/members/logout">Logout</a></li>
	<li style="float:right;"><a href="/changepassword">Change password</a></li>
      </ul>
    </div>
      <div id="text" style="margin:1em;">
	This is finance table of the PullaClub.com
	This is finance table of the PullaClub.com
	This is finance table of the PullaClub.com
	This is finance table of the PullaClub.com
	This is finance table of the PullaClub.com
	This is finance table of the PullaClub.com
      </div>
      <table border="1">
      <tr>
	<th>Heading</th>
	<th>Heading</th>
	</tr>
      <tr>
	<td>Foo</td>
	<td>Bar</td>
      </tr>
      <tr>
	<td>Foo</td>
	<td>Bar</td>
      </tr>
      <tr>
	<td>Foo</td>
	<td>Bar</td>
      </tr>
      <tr>
	<td>Foo</td>
	<td>Bar</td>
      </tr>
      <tr class="total">
	<td>Total foo</td>
	<td>Total Bar</td>
      </tr>
    </table>
  </body>
</html>
