<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>PullaClub.com Finances</title>
    <link rel="SHORTCUT ICON" href="/favicon.gif"/>
    <link rel="stylesheet" href="http://www.pullaclub.com/css/pulla.css" type="text/css" />
    <script type="text/javascript" src="http://pullaclub.com/js/jquery-1.4.1.js"></script>
    <style type="text/css">
      table {
	  border: 1px dotted black;
	  width:50%;
	  margin:15px;
	  border-collapse:collapse;
      }
      table th {
	  border-bottom: 2px solid black;
      }
      table tr.total {
	  border-top:4px solid grey;
      }
    </style>
  </head>
  <body>
    <div id="topnav">
      <ul>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/members">Members</a></li>
	<li><a href="/about.html">About us</a></li>
	<li style="float:right;"><a href="/members/logout">Logout</a></li>
	<li style="float:right;"><a href="/changepassword">Change password</a></li>
      </ul>
    </div>
      <div class="text" style="margin:1em;">
	The table below shows the status of our members' payments and the club's current balance.
      </div>
      <table border="1">
      <tr>
	<th>Name</th>
	<th>March</th>
	</tr>
       <tr>
         <td>Ferran Villar</td>
         <td>--</td>
      </tr>
      <tr>
	<td>Heikki Martinoja</td>
	<td>Alumni</td>
      </tr>
      <tr>
	<td>Janne Alho</td>
	<td>3</td>
      </tr>
      <tr>
	<td>Jari Parkkinen</td>
	<td>3</td>
      </tr>
      <tr>
        <td>Juha Larjomaa</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Jukka Lehto</td>
        <td>0.10</td>
      </tr>
      <tr>
        <td>Kristian Stauffer</td>
        <td>--</td>
      </tr>
      <tr>
	<td>Markus Kousa</td>
	<td>3</td>
      </tr>
      <tr>
        <td>Pasi Hannila</td>
        <td>3 - Alumni</td>
      </tr>
      <tr>
        <td>Pikka Peltola</td>
        <td>3.3
	</td>
      </tr>
      <tr>
        <td>Rikka Saari</td>
        <td>--</td>
      </tr>
      <tr>
        <td>Risto Vuorjoki</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Santeri Pienimaki</td>
        <td>--</td>
      </tr>
      <tr>
        <td>Satya Kadali</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Simone Scarduzio</td>
        <td>--</td>
      </tr>
      <tr>
        <td>Stuart McQuade</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Teemu Ikonen</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Timo Siirtola</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Vesa Vitie</td>
        <td>3</td>
      </tr>
      <tr class="total">
        <td>Purchases this month</td>
        <td>10.95</td>
      </tr>
      <tr class="total">
	<td>Current balance</td>
	<td>28.45</td>
      </tr>
    </table>
  </body>
</html>
