<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <title>Members of PullaClub</title>
    <link rel="stylesheet" href="css/pulla.css" type="text/css" />
    <link rel="SHORTCUT ICON" href="favicon.gif"/>
  </head>
  <body>
    <div id="topnav">
      <ul>
	<li><a href="index.html">Home</a></li>
	<li><a href="/members">Members</a></li>
	<li><a href="about.html">About us</a></li>
	<li style="float:right;"><a href="logout">Logout</a></li>
      </ul>
    </div>
    <div id="text" style="padding: 5px">
      Our current members
    </div>
    <div id="text" style="padding: 5px">
      {% if view_list %}
      <ul>
	{% for user in view_list %}
	<li>{{ user }} : {{ user.get_full_name }}</li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>
