<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="5; URL=/members/"/>
    <title>Password change</title>
    <link rel="stylesheet" href="/pullamedia/css/pulla.css" type="text/css" />
    <link rel="SHORTCUT ICON" href="/favicon.gif"/>
  </head>
  <body>
    <div id="topnav">
      <ul>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/members">Members</a></li>
	<li><a href="/about.html">About us</a></li>
      </ul>
    </div>
    <center>
      <h3 class="text">Password changed successfully. Forwarding you back to member area in few seconds...</h3>
    </center>
  </body>
</html>
