<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Password change</title>
    <link rel="stylesheet" href="/css/pulla.css" type="text/css" />
    <link rel="SHORTCUT ICON" href="/favicon.gif"/>
  </head>
  <body>
    <div id="topnav">
      <ul>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/members">Members</a></li>
	<li><a href="/about.html">About us</a></li>
      </ul>
    </div>
    <center>
      <div id="text">
	Please enter your old and new password twice.
      </div>
    </center>
    <p></p>      
    <div id="text">
      <div style="width:25em; margin-left:auto; margin-right:auto;margin-bottom:100px;">
	<form action="" method="post">
	  <fieldset class="input_form">
	    <legend>PullaClub.com new password</legend>
	    <p><label for="id_old_password">Old password</label>{{ form.old_password }}</p>
	    {{ form.old_password.errors }}
	    <p><label for="id_new_password1">New password</label>{{ form.new_password1 }}</p>
	    {{ form.new_password1.errors }}
	    <p><label for="id_new_password2">Confirm password</label>{{ form.new_password2 }}</p>
	    {{ form.new_password2.errors }}
	    <p><input type="submit" value="Change my password" /></p>
	  </fieldset>
	</form>
      </div>
    </div>
  </body>
</html>
